@import "tailwindcss";

@plugin "daisyui" {
  themes: light --default;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;


}

:root {
  --primary-gradient: linear-gradient(to right, #9F62F2, #632EE3);
}

.text-primary {
  background: var(--primary-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
};

.bg-primary {
  background: var(--primary-gradient);
}